.company-container {
  width: 1200px; 
  height: 700px; 
  border: 2px solid rgb(220, 220, 220);
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgb(198, 198, 198);
  background: #fff;
  position: relative;
   font-family: "Bitter", serif;
}

.form-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 250px); 
  gap: 24px;
}

input,
select {
  width: 230px; 
  height: 38px; 
  font-size: 16px;
}
.save {
  height: 2rem;
  margin-top: 4.5%;
  position: absolute;
  right: 2%;
}

.save_1 {
  height: 2rem;
  margin-top: 4.5%;
  position: absolute;
  left: 2%;
}
